* {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  transition-duration: 0.3s;
}

h1 {
  font-weight: 700;
  font-size: 2.7rem;
}

label {
  font-size: 1.2rem;
  width: 20rem;
}

button{
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: hidden;
  background-color: rgb(237, 237, 237);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus  {
  outline: none;
  background-color: rgb(238, 223, 255);
}


.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header2 {
  margin-block: 1rem;
  font-size: 1.2rem;
}

.logo-img {
  margin: 2rem;
  margin-top: 2.7rem;
  max-width: 100px;
}

.login-form {
  padding: 1.3rem;
  background-color: rgb(255, 255, 255);
  width: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.login-btn {
  padding-inline: 2rem;
  padding-block: 0.6rem;
  border-radius: 0.7rem;
  border: hidden;
  background-color: rgb(29, 29, 29);
  font-size: large;
  color: white
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    transition-duration: 0.2s;
}

.changeDisplayLogin-btn {
  border: hidden;
  margin-top: 1rem;
  background-color: transparent;
  color: rgb(132, 17, 225);
  text-decoration: underline;
}
